* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(179, 84, 123);
}

.input-container {
    width: 1170px;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: rgb(29, 27, 27);
}

input {
    border: 2px solid purple;
    width: 300px;
    height: 30px;
    
}

button {
    width: 70px;
    height: 25px;
    background-color: transparent;
    color: white;
}

.input-container label {
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-left: 250px;
}

.movies-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie-container {
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    transition: all 0.5s ease-in-out;
}

.movie-container:hover {
    box-shadow: -1px 3px 10px 5px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    border: none;
}

.movie-image {
    height: 300px;
    width: 220px;
    background-size: cover;
}

.movie-title, .movie-year  {
    margin: 10px;
}























